@media screen and (min-width: 750px){
    .bar-btn{
        display: none;
    }
    .header_nav{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 70px;
    }
    .header_logo img{
    
        padding-left: 84px;
    
    }
    .header_nav li{
        display: inline-block;
        line-height: 100px;
        margin: 0 10px;
        transition: none;
    }
    .header_nav li a{
        font-size: 11px;
    }

    .bannner_section{
        
        /* padding: 70px; */
    }

    .banner_container{
        width: 80%;
        height: 100%;
        padding: 80px 0;
        display: flex;
        max-width: 750px;
        flex-direction: row;
        margin: 0 auto;
    }
    
    .author{
        width: 40%;

    }
    .author img{
        width: 200px;
    }
    .author{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .banner_text {
        text-align: initial;
    }
    .banner_text h1{
        font-size: 25px;
        line-height: 30px;
    }
    .banner_text p{
        font-size: 16px;
        line-height: 22px;
    }
    .patter_shape{
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
    }
    .patter_shape img{
        width: 600px;
        
    }

    /* post */
    .section_posts_container{
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0 auto;
        max-width: 1024px;

    }

    .section_posts_container h1{
        text-align: center;
        font-size: 25px;
        line-height: 20px;
        margin-bottom: 20px;

    }
    .section_posts{
        width: 100%;
        margin-bottom: 40px;
        flex-direction: row;
        gap: 15px;
    }
    .section_posts picture{
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }
    .section_posts picture img{
        width: 280px;
    }
    .section_posts .posts_text{
        text-align: inherit;
    }
    .posts_text h2{
        font-size: 24px;
        line-height: 30px;
    }
    .posts_text p{
        font-size: 16px;
        line-height: 18px;
    }
 
    /* footer */
    .footer_nav{
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        align-items: flex-end;
        margin-top: 41px;
        text-transform: capitalize;
    }
    .footer_nav .footer_list{
        flex-direction: row;
    }
    .suscription{
        flex-direction: row;
        gap: 64px;
    }
    .suscription_container .sub_text{
        font-size: 24px;
        line-height: 30px;
    }
    .address_footer{
        width: 90%;
        height: 56px;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 37px;
    }
    .address_text{
        text-align: initial;
    }
   
}
@media screen and (min-width: 1000px) {
    
    .author img{
        width: 251px;
    }
    .banner_text h1{
        font-size: 32px;
        line-height: 34px;
    }
    .banner_text p{
        font-size: 14px;
        line-height: 24px;
    }
    .patter_shape img{
        width: 850px;
        
    }
    /* posts */
    .section_posts_container h1{
        font-size: 38px;
        line-height: 33px;
        margin-bottom: 30px;
    }
    .section_posts picture img{
        width: 350px;
    }
    .posts_text h2{
        font-size: 38px;
        line-height: 30px;

    }
    .posts_text p{
        font-size: 22px;
        line-height: 24px;
    }
    .suscription_container .sub_text{
        font-size: 28px;
        line-height: 30px;
        text-align: initial;
    }
    .suscription_input{
        display: flex;
        gap: 20px;
        flex-direction: row;
    
    }
}
@media screen and (min-width: 1300px) {

    
    .banner_text h1{
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -2px;
        width: 669px;
        height: 128px;
    }
    .banner_text p{
        font-size: 16px;
        line-height: 28px;
        width: 646px;
        height: 84px;
        margin-bottom: 25px;
    }
    .author img{
        width: 251px;
    }
    .banner_container{
        padding: 128px 0 108px 0;
        max-width: 1024px;
        margin: 0 auto;
        }
    .patter_shape img{
        width: 1024px;
        max-width: 1070px;
        margin: 0 auto;
    }
    /* posts */
    .section_posts_container h1{
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 35px;
        text-align: initial;
    }
    
    .posts_text span{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .section_posts picture img{
        width: 412px;
    }
    .posts_text h2{
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;
        width: 560.38px;
        height: 96px;

    }
    .posts_text p{
        font-size: 16px;
        line-height: 28px;
    }
    .suscription_container .sub_text{
        font-size: 36px;
        line-height: 48px;
        /* width: 562px; */
        /* height: 96px; */
        letter-spacing: -2px;
    }
    .suscription .input{
        width: 300px;
        padding: 14px 24px;
        text-align: inherit;
    }
    .suscription_container{
        /* width: 1280px; */
        height: 256px;
    }
    .button_sub{
        width: 179px;
        height: 56px;
    }
}

/* CONTACT PAGE */

@media screen and (min-width: 750px) {
    .heading__section{
        margin: 60px 0 98px 0;
    }
    .heading_container{
        padding: 70px 216px;
    }
    .heading_subtitle{
        font-size: 14px;
    } 
    .heading_container .heading_description{
        font-size: 14px;
        line-height: 18px;
    }
    .contact_us-container{
        flex-direction: row;
    }
    .contact_text{
        width: 30%;
    }
    .form_container{
        width: 100%;
    }
    .form_container input{
        width: 55%;
    }
    .form_container button{
        width: 55%;
    }
}
@media screen and (min-width: 1000px) {
    .heading_subtitle{
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
    } 
    .heading_container h1{
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -2px;
    }
    .heading_container .heading_description{
        font-size: 16px;
        line-height: 28px;
        max-width: 768px;
    }
    .contact_text{
        margin-top: 17px;
        font-size: 20px;
        line-height: 32px;
        padding: 50px;
        width: 384px;
        height: 240px;
        text-align: initial;
        align-items: initial;
    }
    .contact_text .line{
        width: 300px;
    }
    .contact_text p{
        font-size: 14px;
    }
    .form_container{
        width: 100%;
        max-width: 768px;
        margin: auto;
    }
    .form_container input{
        font-size: 16px;
        line-height: 28px;
        width: 100%;
    }
    
    .form_container button{
        font-size: 24px;
        line-height: 32px;
        width: 100%;
    }
}

/* HOME  */

@media screen and (min-width: 750px) {
    .home_hero{
        /* height: 100vh; */
    }
    .home_text{
        width: 60%;
        height: 100%;
        justify-content: center;
        align-items: flex-start;
        text-align: initial;
        padding: 50px 0;
        gap: 20px;
    }
    .home_subtitle{
        font-size: 12px;
    }
    .home_text .home_title{
        font-size: 30px;
        line-height: 35px;
    }
    .home_date{
        font-size: 14px;
    }
    .home_description{
        font-size: 14px;
        line-height: 20px;
    }
    .home_button{
        padding: 12px 35px;
        font-size: 14px;
    }

    /* featured */

    .featured_posts-container{
        flex-direction: row;
        justify-content: center;
        gap: 31px;
    }
    .featured_title{
        margin-bottom: 44px;
    }
    .featured_posts{
        width: 45%;
        display: flex;
        height: 600px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .posts_container{
        width: 35%;
        display: flex;
        height: 600px;
    }
    .posts_title-contain{
        /* margin-bottom: 12px; */
    }
    .posts_all{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }
    /* about */
    .about_contain{
        /* padding: 96px 108px 96px 80px; desktop */
        display: flex;
        align-items: flex-start;
        height: 350px;
        padding: 40px;
        flex-direction: row;
    }
    .about_img{
        display: flex;
        justify-content: flex-end;
    }
    .about_us{
        display: flex;
        align-items: flex-start;
        text-align: initial;
        gap: 16px;
    }
    .about_subtitle{
        font-size: 14px;
        margin-bottom: 8px;
        
    }
    .our_mission{
        gap: 16px;
        display: flex;
        align-items: flex-start;
        text-align: initial;
    }
    .our_subtitle{
        margin-bottom: 8px;
    }
    /* category */
    .category_title{
        font-size: 25px;
        line-height: 25px;
    }
    .category_item h3{
        font-size: 22px;
        line-height: 25px;
    }
    .category_item p{
        font-size: 14px;
    }
    /* Especial posts */
    .especial_text{
        top: 45%;
        right: 0%;
        background: #FFFFFF;
    }

    /* author cards */

    .author_container{
        padding: 28px 0 0 0;
        margin-bottom: 68px;
    }

    .author_title{
        font-size: 25px;
        line-height: 20px;
        letter-spacing: -1px;
        margin-bottom: 28px;
    }
    .author_name{
        width: 209px;
        height: 40px;
        font-size: 22px;
        line-height: 25px;
    }
    .author_description{
        width: 240px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
    }

    /* testimonial */

    .testimonial_container{
        flex-direction: row;
        align-items: center;
    }
    .testimonial_line{
        /* width: 310px; */
        height: 0px;
        border: 1px solid #6D6E76;
        transform: rotate(90deg);
    }
    .testimonial_text-left{
        margin-bottom: auto;
    }
    .testimonial_subtitle{
        font-size: 14px;
        line-height: 20px;
    }
    .testimonial_title{
        font-size: 28px;
        line-height: 30px;
    }
    .testimonial_description{
        font-size: 14px;
        line-height: 22px;
    }
    .testimonial_text-right{
        display: flex;
        text-align: initial;
        align-items: flex-start;
        font-size: 18px;
        line-height: 25px;
        gap: 40px;
    }
    .profile_left_user-name{
        font-size: 20px;
        line-height: 25px;
    }
    .profile_location{
        font-size: 14px;
        line-height: 20px;
        text-align: initial;
    }
    

    /* join section  */

    .jointeam_contain{
        
        width: 414px;
        height: 256px;
    }

    .join_title{
        font-size: 26px;
        line-height: 30px;
    }
    .join_description{
        font-size: 14px;
        line-height: 20px;
    }
    .join_button{
        font-size: 14px;
        line-height: 24px;
    }

    /* ********Other posts***************  */

    .blog__inner{
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: center;
    }
    .blog__name {
        font-size: 1.5625rem;
        line-height: 1.75rem;
    }
    .blog__info{
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
    .blogpost__title{
        font-size: 2.1875rem;
        line-height: 2.5rem;
        text-align: center;
    }
    .blogpost__startup{
        font-size: 1.25rem;
        line-height: 1.5625rem;
    }

    /* body section */

    .body__title{
        font-size: 1.875rem;
        line-height: 2.1875rem;
    }
    .body__description{
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    .body__subtitle-list{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    /* ********* about Us ******** */

    .about__us-header{
        flex-direction: row-reverse;
        width: 100%;
        display: flex;
        margin-top: 50px;
        max-width: 681px;
        align-items: center;
        justify-content: center;
    }
    .about__description-contain{
        width: 40%;
        height: 112px;
        display: flex;
        align-items: center;
        margin-bottom: unset;
    }
    .about__description{
        text-align: initial;
     
    }
    .about__us{
       width: 60%;
    }
    .about__us-contain{
        position: relative;
        max-width: 624px;
        max-height: 356px;
        padding: 30px;
        top: 5px;
        margin-top: 40px;
        margin-bottom: -51px;
        z-index: 2;
    }
    .overview__img{
        z-index: 1;
        bottom: -4px;
    }
    .overview__text{
        z-index: 2;
        max-width: 322px;
        min-height: 90px;
        margin-right: 211px;
    }
    .overviwe__pattern{
        max-width: 500px;
        z-index: 2;
        margin-right: 35px;
    }

    /* *** MISION VISION   **** */

    .misionvision__wrapper{
        flex-direction: row;
        max-width: 700px;
        padding: 30px 20px;
    }
    .mision__section{
        text-align: initial;
    }
    .vision__section{
        text-align: initial;
    }
    /* * TEAM  *** */

    .team__wrapper{
        flex-direction: row;
        max-width: 700px;
        gap: 50px;
    }
    .team__text{
        text-align: initial;
    }
    .team__shapes{
        display: block;
        margin-right: 305px;
        margin-bottom: 97px;
    }
    .team__hands{
        width: 300px;
    }

@media screen and (min-width: 1000px) {

    .header_nav li a{
        font-size: 14px;
    }
    .header_nav .button_nav{
        font-size: 14px;
    }
   
    .home_text{
        padding: 90px 0;
        width: 60%;
        gap: 30px;
    }
    .home_subtitle{
        font-size: 14px;
    }
    .home_text .home_title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -2px;
    }
    .home_date{
        font-size: 16px;
    }
    .home_description{
        font-size: 16px;
        line-height: 28px;
    }
    .home_button{
        padding: 12px 42px;
        font-size: 16px;
        cursor: pointer;
    }
    /* about */
    .about_subtitle{
        font-size: 16px;
        line-height: 20px;
    }
    .about_title{
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -2px;
    }
    .about_description{
        font-size: 14px;
        line-height: 20px;
    }
    .about_button{
        font-size: 16px;
        line-height: 25px;
    }
    .our_subtitle{
        font-size: 16px;
        line-height: 20px;
    }
    .our_title{
        font-size: 22px;
        line-height: 35px;
        letter-spacing: -1px;
    }
    .our_description{
        font-size: 14px;
        line-height: 20px;
    }
    /* category */
    .category_title{
        font-size: 30px;
        line-height: 40px;
    }
    .category_item h3{
        font-size: 25px;
        line-height: 25px;
    }
    .category_item p{
        font-size: 15px;
    }
  /* Especial posts */
    .especial_text{
        padding: 30px;
        height: 400px;
        text-align: initial;
        top: 26%;
        display: flex;
        align-items: flex-start;
    }
    .especial_subtitle{
        font-size: 14px;
        line-height: 16px;
    }
    .especial_title{
        font-size: 26px;
        line-height: 30px;
    }
    .especial_description{
        font-size: 14px;
        line-height: 20px;
    }
    .especial_button{
        font-size: 16px;
        line-height: 20px;
        padding: 15px 20px;
    }
     /* author cards */

    .author_title{
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -2px;
        
    }
    .author_name{
        font-size: 25px;
        line-height: 30px;
    }

      /* testimonial */

    .testimonial_subtitle{
        font-size: 16px;
        line-height: 20px;
    }
    .testimonial_title{
        font-size: 33px;
        line-height: 35px;
    }
    .testimonial_description{
        font-size: 16px;
        line-height: 25px;
    }
    .testimonial_description-right{

        font-size: 20px;
        line-height: 28px;
    }
    .profile_left_user-name{
        font-size: 22px;
        line-height: 28px;
    }
    .profile_location{
        font-size: 16px;
        line-height: 22px;
       
    }
    .profile_contain{
        padding: 30px 0px;
        display: flex;
        gap: 30px;
        flex-direction:row;
    }
      /* join section  */

      .jointeam_contain{
       margin: 85px 0 128px 0;
    }
    .join_title{
        font-size: 30px;
        line-height: 35px;
        letter-spacing: -2px;
    }
    .join_description{
        font-size: 16px;
        line-height: 28px;
    }
    .join_button{
        width: 174px;
        height: 56px;
        padding: 16px 48px;
        font-size: 18px;
        line-height: 24px;
    }
    /* **********BLOG************ */
    .blog__wrapper{
        flex-direction: row;
        padding: 2rem;
    }   
    .blogs__head{
        align-items: flex-start;
    }
    .blog__text{
        width: 50%;
        text-align: initial;
        display: flex;
        align-items: flex-start;
    }
    .blog__picture{
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    /* all posts */
    .blogs__contain-title{
        margin-top: 64px;
        font-size: 2rem;
        line-height: 3.125rem;
        margin-bottom: 32px;
    }
    .blogs__wrapper{
        flex-direction: row;
        gap: 32px;
        padding: 32px 0;
    }
    .blogs_text{
        text-align: initial;
    }
    .blogs__line{
        width: 100%;
        margin-bottom: 44px;
    }
    .blogs__subtitle{
        font-size: 1rem;
       
    } 
    .blogs__title{
        font-size: 1.875rem;
        line-height: 1.875rem;
        margin-bottom: -4px;
    }
    .blogs__description{
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
    .blogs__pagination{
        margin-top: 34px;
    }
    /* all category */
    .category_title-posicion{
        font-size: 1.875rem;
        line-height: 1.875rem;
    }
    /* Other posts */

    .other__article{
        width: 350px;
        /* height: 606px; */
        display: flex;
        align-items: flex-start;
        text-align: initial;
    }
    .other_picture{
        width: 100%;
    }
    .other__title{
        font-size: 1.75rem;
        line-height: 1.875rem;
        letter-spacing: -2px; 
    }
    .article__date{
        font-size: 0.875rem;
        line-height: 1.25rem;
        }
   
    .article__subtitle{
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
    .article__description{
        font-size: 0.875rem;
        line-height: 1.25rem; 
    }
    

    /* Other posts */

    .blog__inner{
        align-items: flex-start;
        width: 768px;
        margin: 50px 0 34px 0;
    }
        
    .blog__name {
        font-size: 28px;
        line-height: 40px;
        text-align: initial;
    }
    .blog__info{
        font-size: 1rem;
        line-height: 1.75rem;
    }
    .blogpost__title{
        font-size: 40px;
        line-height: 45px;
        text-align: initial;
    }
    .blogpost__startup{
        font-size: 1.25rem;
        line-height: 1.5625rem;
    }

    /* body section */

    .body__title{
        font-size: 36px;
        line-height: 48px;
        width: 845px;
        height: 96px;
        
    }
    .body__description{
        font-size: 1rem;
        line-height: 1.75rem;
        text-align: start;
    }
    .body__subtitle-list{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .body__container{
        padding: 34px 0 104px 0;
       
    }

    /* ******** ABOUT_US ********* */

    .about__us-contain{
        /* max-width: 400px; */
    }
    .about__subtitle{
        font-size: 0.8125rem;
        line-height: 16px;
    }
    .about__title{
        margin-top: 16px;
        font-size: 1.875rem;
        line-height: 2.5rem;
        width: 300px;
    }
    .about__description{
        font-size: 11px;
        line-height: 19px;
    }

    .overview__img{
        width: 800px;
    }

    .overview__background-title{
        font-size: 35px;
        line-height: 35px;
    }
    .overview__description{
        font-size: 13px;
        line-height: 22px;
    }
    .overview__text{
        max-width: 400px;
        min-height: 91px;
    }
    .overviwe__pattern{
        margin-right: 113px;
    }
    .overviwe__pattern{
        margin-bottom: -1px;
    }

    /* *** MISION VISION   **** */

    .misionvision__wrapper{
        flex-direction: row;
        max-width: 800px;
        padding: 80px 40px;
    }
    .mision__subtitle{
        font-size: 12px;
        line-height: 15px;
    }
    .mision__title{
        font-size: 23px;
        line-height: 28px;
        letter-spacing: -1px;
    }
    .mision__description{
        font-size: 12px;
        line-height: 22px;
    }
    .vision__subtitle{
        font-size: 12px;
        line-height: 15px;
    }
    .vision__title{
        font-size: 23px;
        line-height: 28px;
        letter-spacing: -1px;
    }
    .vision__description{
        font-size: 12px;
        line-height: 22px;
    }

      /* * TEAM  *** */

    .team__wrapper{
       
        max-width: 800px;
        gap: 70px;
    }

    .team__shapes{
        width: 80px;
        margin-right: 403px;
        margin-bottom: 97px;
    }
    .team__hands{
        width: 400px;
    }
    .team__title{
        font-size: 28px;
        line-height: 28px;
    }
    .team__subtitle{
        font-size: 20px;
        line-height: 26px;
    }
    .team__description{
        font-size: 12px;
        line-height: 18px;
    }

}
@media screen and (min-width: 1300px) {
    .header_nav .button_nav{
        font-size: 18px;
    }
   
    .header_nav li a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }


    .home_hero{
        display: flex;
        align-items: center;
        padding: 128px 556px 192px 0;
    }
    .home_text{
        /* padding: 80px 70px; */
        height: 400px;
        gap: 24px;
    }
    .home_subtitle{
        font-size: 16px;
    }
    .home_text .home_title{
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -2px;
        width: 803px;
        height: 128px;
    }
    .home_date{
        margin-bottom: -9px;
    }
    .home_description{
       margin-bottom: 24px;
       width: 599px;
       height: 56px;
    }
   
    .home_button{
        padding: 12px 48px;
        font-size: 18px;
        line-height: 24px;
    }
    /* featured posts */
    .featured_posts-container{
        margin-top: 88px;
        margin-bottom: 88px;
    }
    .featured_posts{
        width: 100%;
        max-width: 733px;
        height: 804px;
    }

    .featured_title{
        font-size: 36px;
        line-height: 48px; 
        letter-spacing: -2px; 
    }
   
    .featured_img img{
        width: 669px;
        height: 352px;
        margin-bottom: 16px;
    }
    .featured_date{
    
        font-size: 14px;
        line-height: 20px;
    }
    .featured_subtitle{
       
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
    }
    .featured_description{
      
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 16px;
    }
    .home_button{
        
        font-size: 18px;
        line-height: 24px;
    }

    .posts_container{
        width: 517px;
        height: 804px;
    }
    .posts_title-contain .posts_title{
        font-size: 36px;
        line-height: 48px;  
        letter-spacing: -2px;
    }
    .posts_subtitle{
        font-size: 16px;
        line-height: 28px;
    }
    .posts_all{
        gap: 1px;
    }
    .posts_item{
        padding: 32px;
        display: flex;
        width: 517px;
        height: 181px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .posts_date{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .posts_item-title{
        width: 369px;
        height: 96px;
        font-size: 24px;
        line-height: 32px;
    }
    /* about */

    .about_contain{
        width: 1280px;
        height: 500px;
        padding: 96px 108px 96px 80px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 62px;
    }
    .about_img{
        width: 1280px;
        display: flex;
        justify-content: flex-end;
    }
    .about_subtitle{
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
    }
    .about_title{
        width: 492px;
        height: 144px;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;
    }
    .about_description{
        width: 515px;
        height: 56px;
        font-size: 16px;
        line-height: 28px;
    }
    .about_button{
        font-size: 18px;
        line-height: 32px;
    }
    .our_subtitle{
        font-size: 16px;
        line-height: 20px;
    }
    .our_title{
        width: 481px;
        height: 80px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
    }
    .our_description{
        width: 516px;
        height: 108.73px;
        font-size: 16px;
        line-height: 28px;
    }
   /* category */
    .category_contatiner{
        /* margin: 0 0 68px 0; */
       
    }
   .category_title{
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 48px;
        letter-spacing: -2px;
    }
    .category_item h3{
        font-size: 28px;
        line-height: 40px;
    }
    .category_item p{
        font-size: 16px;
        line-height: 28px;
        margin-top: -6px;
    }

    /* Especial posts */
    .special_container{
        margin: 60px 0 100px 0;
    }

    .special_post-container{
        width: 1280px;
        height: 705px;
        /* margin: 128px 0; */
        display: flex;
        margin: 0 auto;
        justify-content: flex-start;
        background-color: #FFFFFF;
        align-content: flex-start;
      }
    .especial_background{
        height: 705px;
      }
    .especial_text{
        width: 100%;
        padding: 80px;
        max-width: 706px;
        height: 584px;
        text-align: initial;
        top: 18%;
        right: -35%;
        display: flex;
        align-items: flex-start;
    }
    .especial_subtitle{
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
       
    }
    .especial_title{
        width: 546px;
        height: 192px;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -2px;
    }
    .especial_description{
        margin-top: -7px;
        width: 548px;
        height: 84px;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 9px;
    }
    .especial_button{
        font-size: 18px;
        line-height: 24px;
        padding: 15px 20px;
        width: 269px;
        height: 56px;
    }
    /* author cards */
  

    .author_title{
        font-size: 36px;
        line-height: 48px;
        
    }
    .author_name{
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
    }

    
    /* testimonial */
    .testimonial_container{
        display: flex;
        padding: 80px;
        width: 1280px;
        height: 464px;
        align-items: center;
    }

    .testimonial_subtitle{
        letter-spacing: 3px;
    }
    .testimonial_title{
        width: 345px;
        height: 96px;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;
    }
    .testimonial_description{
        font-size: 16px;
        line-height: 28px;
    }
    .testimonial_line{
        width: 180px;
    }
    .profile_contain{
        gap: 141px;
    }
    .testimonial_text-left{
        display: flex;
        align-items: flex-start;
        text-align: initial;
    }
   
    .testimonial_description-right{
      
        width: 469px;
        height: 128px;
        font-size: 24px;
        line-height: 32px;
    }
    .profile_left_user-name{
        font-size: 24px;
        line-height: 32px;
    }
    
      /* join section  */


    .join_title{
        width: 414px;
        height: 96px;
        font-size: 36px;
        line-height: 48px;
       
    }
    /* *********BLOG***** */
    .blog__container{
        width: 100%;
    }
    .blog__subtitle{
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .blog__title{
        font-size: 2.25rem;
        line-height: 3rem;
        margin-bottom: -4px;
    }
    .blog__date{
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: -4px;
    }
    .blog__description{
        font-size: 1rem;
        line-height: 1.75rem; 
        margin-bottom: 12px;
    }
    .blog__button{
        padding: 1rem 3rem;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    .blog__picture{
        justify-content: flex-end;
    }
    .blog__picture img{
        width: 515px;
        height: 359px;
    }
    .blog__wrapper{
        padding: 5rem;
        height: 519px;
    }   

    /* all posts */
    .blogs__contain-title{
       
        font-size: 3rem;
        line-height: 4rem;
    }
    .blogs__img img{
        width: 490px;
        height: 318px;
    }
    .blogs_text{
        text-align: initial;
    }
    .blogs__line{
        width: 100%;
        margin-bottom: 44px;
    }
    .blogs__subtitle{
        line-height: 1.25rem;
       
    } 
    .blogs__title{
        font-size: 2.25rem;
        line-height: 3rem;
       
    }
    .blogs__description{
        font-size: 1rem;
        line-height: 1.75rem;
    }
    .blogs__pagination{
        margin-top: 34px;
        margin-left: 80px;
    }
    /* All Category  */
    .category__contain{
        align-items: flex-start;
    }
    .category_title-posicion{
        font-size: 2.25rem;
        line-height: 3rem;
        margin-bottom: 48px;
    }
    /* Other posts */
    .other__article{
        width: 405px;
        height: 606px;
    }
    .other__posts-container{
        width: 90%;
        max-width: 1280px;
        margin: 0 auto;
    }
    .other__title{
        font-size: 2.25rem;
        line-height: 3rem;
       
        margin-bottom: 32px;

       
    }
    .article__subtitle{
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
    .article__description{
        font-size: 1rem;
        line-height: 1.75rem; 
    }

    /* other posts  */

    .blogpost__title{
        font-size: 3rem;
        line-height: 4rem;
        text-align: initial;
    }
    .blogpost__startup{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .article__divider{
        width: 1280px;
        height: 0px;
        border: 1px solid #6D6E76;
        opacity: 0.3;
        margin-top: -20px;
    }

       /* ******** ABOUT_US ********* */

    .about__us{
       justify-content: end;
    }
    .about__subtitle{
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .about__title{
    
        font-size: 3rem;
        line-height: 4rem;
        width: 496px;
        height: 192px;
        letter-spacing: -2px;
    }
    .about__us-contain{
        top: 35px;
        left: 37px;
        max-width: 624px;
        max-height: 356px;
        padding: 64px;
    }
    .about__description{
        font-size: 16px;
        line-height: 28px;
        width: 534px;
        height: 112px;
        padding-left: 50px;
        margin-top: 110px;
    }

    .overview__img{
        width: 1280px;
        height: 444px;
    }
    .overview__views{
        padding: 32px;
    }

    .overview__background-title{
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -2px;
    }
    .overview__description{
        font-size: 16px;
        line-height: 28px;
    }
    .overview__text{
        max-width: 630px;
        min-height: 178px;
        margin-left: -220px;
    }
    .overviwe__pattern{
        margin-right: 113px;
    }
    .overviwe__pattern{
        max-width: 861px;
        max-height: 23px;
        margin-left: -88px;
    }
    .about__container{
        max-width: 1280px;
    }

     /* *** MISION VISION   **** */

     .misionvision__wrapper{
        width: 100%;
        max-width: 1280px;
        padding: 128px 108px 64px 108px;
    }
    .mision__subtitle{
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .mision__title{
        width: 481px;
        height: 80px;
        font-size: 1.75rem;
        line-height: 2.5rem;
        letter-spacing: -1px;
    }
    .mision__description{
        font-size: 1rem;
        line-height: 1.75rem;
    }
    .vision__subtitle{
        font-size: 1rem;
        line-height: 1.25rem;

    }
    .vision__title{
        width: 475px;
        height: 80px;
        font-size: 1.75rem;
        line-height: 2.5rem;
    
    }
    .vision__description{
        font-size: 1rem;
        line-height: 1.75rem;
    }

    /* * TEAM  *** */

    .team__wrapper{
       
        max-width: 1280px;
        gap: 137px;
        padding: 128px 0 40px 0;
    }
    .team__text{
        padding: 0 0 0 10px;
    }

    .team__shapes{
        width: 103px;
        height: 116px;
        margin-right: 631px;
        margin-bottom: 136px;
    }
    .team__hands{
        width: 624px;
        height: 480px;
    }
    .team__title{
        font-size: 2.25rem;
        line-height: 3rem;
        letter-spacing: -2px;
    }
    .team__subtitle{
        width: 519px;
        height: 96px;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .team__description{
        font-size: 1rem;
        line-height: 1.75rem;
    }



}
@media screen and (min-width:1420px) {
    .other__title{
        text-align: initial;
        margin-bottom: 64px;
    }
    
}