@media screen and (min-width: 750px){
    .bar-btn{
        display: none;
    }
    .header_nav{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        /* margin-right: 60px; */
    }
    .header_nav li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .header_nav li a{
        font-size: 14px;
    }

    .bannner_section{
        
        padding: 70px;
    }

    .banner_container{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 70px;
    }
    .author{
        width: 40%;

    }
    .author img{
        width: 200px;
    }
    .author{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .banner_text {
        text-align: initial;
    }
    .banner_text h1{
        font-size: 25px;
        line-height: 30px;
    }
    .banner_text p{
        font-size: 16px;
        line-height: 18px;
    }
    .patter_shape{
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
    }
    .patter_shape img{
        width: 600px;
        
    }

    /* post */
    .section_posts_container{
        padding: 80px;
        display: flex;
        flex-direction: column;
        gap: 25px;

    }

    .section_posts_container h1{
        text-align: center;
        font-size: 25px;
        line-height: 20px;
        margin-bottom: 20px;

    }
    .section_posts{
        width: 100%;
        margin-bottom: 40px;
        flex-direction: row;
        gap: 15px;
    }
    .section_posts picture{
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }
    .section_posts picture img{
        width: 280px;
    }
    .section_posts .posts_text{
        text-align: inherit;
    }
    .posts_text h2{
        font-size: 24px;
        line-height: 30px;
    }
    .posts_text p{
        font-size: 16px;
        line-height: 18px;
    }
    /* footer */
    .footer_nav{
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_nav .footer_list{
        flex-direction: row;
    }
    .suscription{
        flex-direction: row;
    }
    .suscription_container .sub_text{
        font-size: 24px;
        line-height: 30px;
    }
    .address_footer{
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }
    .address_text{
        text-align: initial;
    }
   
}
@media screen and (min-width: 1000px) {
    
    .author img{
        width: 251px;
    }
    .banner_text h1{
        font-size: 32px;
        line-height: 34px;
    }
    .banner_text p{
        font-size: 14px;
        line-height: 24px;
    }
    .patter_shape img{
        width: 850px;
        
    }
    /* posts */
    .section_posts_container h1{
        font-size: 38px;
        line-height: 33px;
        margin-bottom: 30px;
    }
    .section_posts picture img{
        width: 350px;
    }
    .posts_text h2{
        font-size: 38px;
        line-height: 30px;

    }
    .posts_text p{
        font-size: 22px;
        line-height: 24px;
    }
    .suscription_container .sub_text{
        font-size: 28px;
        line-height: 30px;
    }
    .suscription_input{
        display: flex;
        gap: 20px;
        flex-direction: row;
    
    }
}
@media screen and (min-width: 1300px) {

    
    .banner_text h1{
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -2px;
    }
    .banner_text p{
        font-size: 16px;
        line-height: 28px;
    }
    .patter_shape img{
        width: 1070px;
        
    }
    /* posts */
    .section_posts_container h1{
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 35px;
    }
    
    .posts_text span{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .section_posts picture img{
        width: 350px;
    }
    .posts_text h2{
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -2px;

    }
    .posts_text p{
        font-size: 16px;
        line-height: 28px;
    }
    .suscription_container .sub_text{
        font-size: 36px;
        line-height: 48px;
    }
    .suscription .input{
        width: 300px;
    }
}

/* CONTACT PAGE */

@media screen and (min-width: 750px) {
    .heading_container{
        padding: 70px 216px;
    }
    .heading_subtitle{
        font-size: 14px;
    } 
    .heading_container .heading_description{
        font-size: 14px;
        line-height: 18px;
    }
    .contact_us-container{
        flex-direction: row;
    }
    .contact_text{
        width: 30%;
    }
    .form_container{
        width: 100%;
    }
    .form_container input{
        width: 55%;
    }
    .form_container button{
        width: 55%;
    }
}
@media screen and (min-width: 1000px) {
    .heading_subtitle{
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
    } 
    .heading_container h1{
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -2px;
    }
    .heading_container .heading_description{
        font-size: 16px;
        line-height: 28px;
    }
    .contact_text{
        font-size: 20px;
        line-height: 32px;
        padding: 30px;
        width: 360px;
        height: 240px;
    }
    .contact_text p{
        font-size: 14px;
    }
    .form_container input{
        font-size: 16px;
        line-height: 28px;
        width: 56%;
    }
    
    .form_container button{
        font-size: 24px;
        line-height: 32px;
    }
}

/* HOME  */

@media screen and (min-width: 750px) {
    .home_hero{
        height: 100vh;
    }
    .home_text{
        width: 804px;
        height: 100%;
        justify-content: center;
        align-items: flex-start;
        text-align: initial;
        padding: 50px 60px;
    }
    .home_subtitle{
        font-size: 12px;
    }
    .home_text .home_title{
        font-size: 30px;
    }
    .home_date{
        font-size: 14px;
    }
    .home_description{
        font-size: 14px;
        line-height: 20px;
    }
    .home_button{
        padding: 12px 35px;
        font-size: 14px;
    }

    /* featured */

    .featured_posts-container{
        flex-direction: row;
        justify-content: center;
    }
    .featured_posts{
        width: 45%;
            /* display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 45%; */
    }
    .posts_container{
        width: 30%;
    }
}

@media screen and (min-width: 1000px) {
   
    .home_text{
        padding: 80px 80px;
    }
    .home_subtitle{
        font-size: 14px;
    }
    .home_text .home_title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -2px;
    }
    .home_date{
        font-size: 16px;
    }
    .home_description{
        font-size: 16px;
        line-height: 28px;
    }
    .home_button{
        padding: 12px 42px;
        font-size: 16px;
    }
}
@media screen and (min-width: 1300px) {
    .home_hero{
        display: flex;
        align-items: center;
    }
    .home_text{
        padding: 80px 80px;
        height: 400px;
        gap: 24px;
    }
    .home_subtitle{
        font-size: 16px;
    }
    .home_text .home_title{
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -2px;
        width: 803px;
        height: 128px;
    }
    .home_date{
        margin-top: 9px;
    }
    .home_description{
       margin-bottom: 24px;
       width: 599px;
       height: 56px;
    }
   
    .home_button{
        padding: 12px 48px;
        font-size: 18px;
        line-height: 24px;
    }
}